---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import VerDemo from "@/components/VerDemo.astro";
import SocialPillRedirect from "@/components/SocialPillRedirect.astro";
import Bento from "@/components/Bento.astro";
import Trayectoria from "@/components/icons/Trayectoria.astro";
import Grid from "@/components/Grid.astro";
import Demo from "@/components/icons/Demo.astro";
const base = import.meta.env.BASE_URL;
---

<Layout
  title="Porfolio de Sergio Mendez"
  description="Porfolio de Sergio Mendez"
>
  <main class="px-4">
    
    <SectionContainer id="contacto" class="py-32 pb-16 scroll-mt-20">
<h1
  class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
>
  ¡Hola! Soy Sergio

</h1>

<h2
  class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
>
  <span>Actualmente me encuentro dando un giro profesional hacia el mundo del desarrollo de software,</span>
  <span class="text-amber-700 dark:text-amber-300">
    tras una etapa en la que adquirí experiencia liderando equipos, organizando tareas y gestionando campañas en entornos exigentes.
  </span>
  <span>Me he formado en Desarrollo de Aplicaciones Multiplataforma,</span>
  <span class="text-sky-700 dark:text-sky-300">
    desarrollado proyectos en frontend con React
  </span>
  <span class="text-indigo-700 dark:text-indigo-300">
    y en backend con Java y Spring Boot.
  </span>
  <span class="text-emerald-700 dark:text-emerald-300">
    Me considero una persona en constante aprendizaje, motivado por seguir creciendo como desarrollador.
  </span>
</h2>





      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/sergio-mendez-soler-03902aa5/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/sergiomsrs">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:sergiomsrs@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          sergiomsrs@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

  

    <SectionContainer id="proyectos" class="scroll-mt-20">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects
        title="WorkSchedFlow - App de Gestion de Turnos de Trabajo."
        description="WorkSchedFlow es una prueba de concepto diseñada para facilitar la gestión de turnos de trabajo. Su objetivo principal es cubrir las necesidades de los gestores de equipos, brindando una herramienta que simplifica el diseño de horarios mientras se asegura de cumplir con las normativas laborales y las expectativas de los empleados. La aplicación ofrece una interfaz intuitiva para gestionar los turnos, permitiendo a los responsables asegurar el cumplimiento legislativo y la optimización de los recursos, garantizando al mismo tiempo un equilibrio entre las demandas de la empresa y los derechos de los trabajadores."
        image=`${base}workschedflow.webp`
        imageAlt="Captura de pantalla del proyecto WorkSchedFlow"
      />
      <div class="flex gap-4 mt-8 mb-8 flex-wrap justify-center w-full">
        <VerDemo
          href="https://sergiomsrs.github.io/workschedflow-demo/#/workschedflow-demo/"
        >
          <Demo class="size-4 md:size-6" />
          Ir a la Demo
        </VerDemo>
        <SocialPill
          href="https://github.com/Sergiomsrs/prueba-concepto-gestorTurnos"
        >
          <GitHubIcon class="size-4 md:size-6" />
          WorkSchedFlow-UI
        </SocialPill>
        <SocialPill href="https://github.com/Sergiomsrs/jobhourapp-poc-api">
          <GitHubIcon class="size-4 md:size-6" />
          WorkSchedFlow-API
        </SocialPill>
      </div>
      <Projects
        title="TimeTrack App - Sistema de Gestión de Control Horario para Empleados."
        description="Aplicación web destinada al control horario de los trabajadores. Esta herramienta permitirá a los empleados registrar sus fichajes de forma sencilla, y ofrecerá a los administradores de la empresa un conjunto de funcionalidades de gestión y supervisión."
        image="timeTrack.webp"
        imageAlt="Captura de pantalla del proyecto TimeTrack App"
      />
       <div class="flex gap-4 mt-8 mb-8 flex-wrap justify-center w-full">
        <SocialPill
          href="https://github.com/Sergiomsrs/timetrack-ui"
        >
          <GitHubIcon class="size-4 md:size-6" />
          TimeTrackApp-UI
        </SocialPill>
        <SocialPill href="https://github.com/Sergiomsrs/timetrack-api">
          <GitHubIcon class="size-4 md:size-6" />
          TimeTrackApp-API
        </SocialPill>
      </div>
      <Projects
        title="React Component - Formulario dinámico de extensión variable."
        description="Formulario diseñado desde cero con React para la elaboración de planes nutricionales y de entrenamiento. Sigue una estructura de bloques e ítems que se pueden añadir o eliminar a gusto del usuario. Especialmente diseñado para poder implementar el análisis estadístico de los planes elaborados."
      />
      <Bento />
      <Projects
        title="Training App - Diseño de planes de entrenamiento"
        description="Desarrollo en proceso de una página web en la que aplico los conocimientos adquiridos en los últimos años. Se trata de una aplicación para la creación y gestión de entrenamientos. La web está construida con React e integra una API REST desarrollada con Java, Spring Boot y MySQL para la gestión de usuarios. También incluye otra API REST que utiliza MongoDB para la gestión de entrenamientos y el análisis de datos."
      />
      <Grid />
      <div class="flex gap-4 mt-8 mb-8 flex-wrap justify-center w-full">
        <SocialPill href="https://github.com/Sergiomsrs/app-training-v.0">
          <GitHubIcon class="size-4 md:size-6" />
          App-Training
        </SocialPill>
        <SocialPill href="https://github.com/Sergiomsrs/Wod-Api--Shared">
          <GitHubIcon class="size-4 md:size-6" />
          Workout-Api
        </SocialPill>
        <SocialPill href="https://github.com/Sergiomsrs/Usersapp-Api--Shared">
          <GitHubIcon class="size-4 md:size-6" />
          User-Api
        </SocialPill>
      </div>
    </SectionContainer>
    
    <SectionContainer id="trayectoria" class="scroll-mt-20">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Trayectoria class="size-7" />
        Mi Trayectoria
      </h2>
      <Experience />
    </SectionContainer>
    
    <SectionContainer  id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheck class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
