<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Sergio y durante 6 años he formado parte del equipo directivo de una tienda en el sector del retail deportivo. 

    </p>

    <p>
      Siempre he estado interesado en la tecnología y he tratado de aportar todo mi conocimiento en esta área a mi puesto como assistant manager. 

    </p>

    <p>
      Me introduje en el retail tras graduarme en la Universidad de Ciencias del Deporte y lo que empezó como un trabajo temporal me ha permitido crecer profesionalmente, 
      desarrollando habilidades como la organización de grandes cargas de trabajo y la gestión de equipos de más de 30 personas.
    </p>

    <p>
      Investigando la forma de mejorar algunos procesos de mi día a día descubrí la programación, un campo de la tecnología bastante desconocido para mí y que me resultó muy interesante. 
      Por ello, decidí estudiarlo de forma reglada mediante un ciclo formativo en desarrollo de software.

    </p>
  </div>
  <img src="sergio.webp" class="rounded-full size-64 order-1 md:order-2" />
</section>
