---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2025",
    title: "Ciclo Formativo de Grado Superior en Desarrollo de Aplicaciones Multiplataforma",
    description:
    "Acabo de finalizar el ciclo formativo de Desarrollo de Aplicaciones Multiplataforma, donde he adquirido experiencia práctica en el desarrollo de aplicaciones web, móviles y de escritorio utilizando tecnologías como Java, Spring Boot, React, MySQL y Docker.",
  },
  {
    date: "2021",
    title: "Cursos formativos en programación",
    description:"Motivado por mejorar los recursos de mi puesto de trabajo, descubro la programación y me apasiona. Comienzo a formarme en cursos de programación, centrándome principalmente en Java con Spring Boot y React.",
  },
  {
    date: "2014",
    title: "Grado en Ciencias de la Actividad Física y del Deporte - Universidad de Murcia",
    description:
      "Con la matrícula de Ingeniería Telemática en la mano, finalmente me incliné por las Ciencias del Deporte, primero a través de un ciclo formativo y luego con el grado universitario. No me arrepiento de la decisión, ya que me permitió crecer y desarrollar habilidades blandas, convirtiéndome en una persona abierta y flexible.",
  },
  
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
